.nav-link:hover {
    color: #fca311 !important;
}
.navLinkModal:hover {
    border: 1px solid rgb(144, 138, 138);

}

.menu {
    content-visibility: hidden;
}
.loginBtn:hover {
    border: 1px solid red !important;
    background-color: white !important;
    color:red !important;
}

.colored-div {
    border-radius: 30px 0 0 30px;
    right: 1px;
    top: 3rem;
    width: 52%;
    height: 26%;
    z-index: -1;
    }

.item:hover {
        border-bottom-color: red !important;
        color: red;
    }
.addExt:hover {
    border: 1px solid blue;
    background-color: white !important;
    color: blue !important;
}
.colored-div2 {
        border-radius: 0 30px 30px 0;
        left: 1px;
        top: 4rem;
        width: 58%;
        height: 83%;
        z-index: -1;
}
.getExtBtn {
    width: fit-content;
}

.getChromeBtn:hover {
    border: 1px solid blue;
    background-color: white !important;
    color: blue !important;
}

.getFirefoxBtn:hover {
    border: 1px solid black;
    background-color: white !important;
}
divext div:nth-child(1) {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

divext div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

divext div:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
/* Media query for tablet size and above */
@media (min-width: 768px) {
/* p {
    width: 50%;
} */
.menu {
    flex-direction: row !important;
    content-visibility: visible;
}
    .textInfo {
        width: 20rem;
    }
    .colored-div {
        top: 5rem;
        width: 56%;
        height: 78% !important;
    }

    .colored-div2 {
        top: 7rem;
        width: 47%;
        height: 81% !important;
    }
    .extensionsWrapper {
        height: 360px;
        }

    .faqsWraper {
            width: 50%;
        }

    .accordion-item {
            border-inline-style: none;

        }

    .accordion-item:first-child {
            border-top: 1px solid #dee2e6 !important;
    }
    .contactForm {
        /* width: 45%; */
        justify-content: center;
        display: flex;
    }

    .foot {
        flex-direction: row !important;
    }
    }

.card {
    width: 13em;
    }
    .faqs:hover {
        color: red;
    }

    footer {
        background-color: rgba(37, 37, 255, 0.922);
}
.contactBtn:hover {
    border: 1px solid red !important;
    background-color: white !important;
    color: red !important;
}

.socialIcon:hover {
    background-color: red;
    border-radius: 23%;
}