.nav-link:hover {
    color: #fca311 !important;
}

.loginBtn:hover {
    border: 1px solid red !important;
    background-color: white !important;
    color:red !important;
}

.colored-div {
    border-radius: 30px 0 0 30px;
    right: 1px;
    margin-top: 3rem;
    width: 52%;
    height: 26%;
    z-index: -1;
    }

.item:hover {
        border-bottom-color: red !important;
        color: red;
    }
.addExt:hover {
    border: 1px solid blue;
    background-color: white !important;
    color: blue !important;
}
    .colored-div2 {
        border-radius: 0 30px 30px 0;
        left: 1px;
        margin-top: 3rem;
        width: 52%;
        height: 26%;
        z-index: -1;
}
.getExtBtn {
    width: fit-content;
}

.getChromeBtn:hover {
    border: 1px solid blue;
    background-color: white !important;
    color: blue !important;
}

.getFirefoxBtn:hover {
    border: 1px solid black;
    background-color: white !important;
}
.divext:nth-child(2) {
    background-color: black;
    height: 500px;
}
/* Media query for tablet size and above */
@media (min-width: 768px) {
/* p {
    width: 50%;
} */
.menu {
    flex-direction: row !important;
}
    .textInfo {
        width: 500px;
    }
    .colored-div {
        margin-top: 7rem;
        width: 25%;
        height: 45%;
    }

    .colored-div2 {
        margin-top: 7rem;
        width: 20%;
        height: 39%;
    }
    .extensionsWrapper {
        height: 360px;
        }

    .faqsWraper {
            width: 50%;
        }

    .accordion-item {
            border-inline-style: none;

        }

    .accordion-item:first-child {
            border-top: 1px solid #dee2e6 !important;
    }
    .contactForm {
        /* width: 45%; */
        justify-content: center;
        display: flex;
    }

    .foot {
        flex-direction: row !important;
    }
    }

.card {
    width: 13em;
    }
    .faqs:hover {
        color: red;
    }

    footer {
        background-color: rgba(37, 37, 255, 0.922);
}
.contactBtn:hover {
    border: 1px solid red !important;
    background-color: white !important;
    color: red !important;
}

.socialIcon:hover {
    background-color: red;
    border-radius: 23%;
}