.nav-link:hover {
    color: #fca311;
}

.loginBtn:hover {
    border: 2px solid red !important;
}

.colored-div {
    border-radius: 30px 0 0 30px;
    right: 1px;
    margin-top: 3rem;
    width: 38%;
    height: 30%;
    z-index: -1;
    }

    .item:hover {
        border-bottom-color: red !important;
        border-block-width: 2px;
    }

    .colored-div2 {
        border-radius: 0 30px 30px 0;
        left: 1px;
        margin-top: 3rem;
        width: 38%;
        height: 30%;
        z-index: -1;
}
/* Media query for tablet size and above */
@media (min-width: 768px) {

    .textInfo {
        width: 500px;
    }

    .extensionsWrapper {
        height: 360px;
        }

        .faqs {
            width: 50%;
        }

        .accordion-item {
            border-inline-style: none;

        }

        .accordion-item:first-child {
            border-top: 1px solid #dee2e6 !important;
    }

}

.card {
    width: 15em;
}