
$primary: #fca311;
$secundary: #14213d;
$accordion-button-active-color:red;
$accordion-button-active-bg:white;
$accordion-button-focus-box-shadow:none;
$nav-link-hover-color:red;
$nav-tabs-link-active-color:red;
$link-hover-color:red;
$h6-font-size:0.9rem;
$modal-content-bg: #0504049f;
// $btn-close-bg:url("./Recursos projecte sprint 2-20230510/Imagenes/logo-bookmark-white.svg");


@import '../node_modules/bootstrap/scss/bootstrap.scss';